<template>
    <div id="forma_autor">
        <b-form @submit="addAutor" @reset="resetAutor">
            <b-form-group id="nomeAutor"
            label="Usuario do autor:"
            label-for="inputUser"
            description="usuário para identifica-lo no sistema">
        <b-form-input id="inputUser"
        v-model="autor.usuario"
        required
        placeholder="Digite seu usuario">
        </b-form-input>
            </b-form-group>
            <b-form-group id="nomeReal"
            label="Nome do autor:"
            description="Seu nome"
            label-for="inputName">
        <b-form-input id="inputName"
        v-model="autor.nome"
        required
        placeholder="Digite seu Nome"></b-form-input>
            </b-form-group>    
            <b-form-group id="idade"
            label="Idade do autor:"
            label-for="inputIdade"
            description="A idade do autor">
        <b-form-input id="inputIdade"
        type="number"
        v-model="autor.idade"
        required
        placeholder="Digite sua idade"></b-form-input>
        </b-form-group>
        <b-form-group id="boxDescricao"
                        label="Descrição do autor"
                        label-for="inputDescricao"
                        description="Uma descricao do autor">
            <b-form-textarea id="inputDescricao"
                            requeired
                                v-model="autor.descricao"
                                placeholder="Digite sua descricao"
                                :rows="3"
                                :max-rows="6">

            </b-form-textarea>

        </b-form-group>
        <b-button variant="primary" type="submit" class="botao">Cadrastrar autor</b-button>
        <b-button variant="danger" type="reset" class="botao">Resetar Formulario</b-button>
         </b-form>
    </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      autor: {
        usuario: "",
        nome: "",
        idade: Number,
        descricao: ""
      }
    };
  },
  methods: {
    addAutor: function() {
      axios
        .post("http://localhost:8000/api/Autores/", this.autor)
        .then(response => {
          console.log(response);
          this.$router.push("/");
        })
        .catch(response => {
          console.log(response);
        });
    },
    resetAutor: function() {
      this.autor = {
        usuario: "",
        nome: "",
        idade: Number,
        descricao: ""
      };
    }
  }
};
</script>
<style scoped>
    .botao{
        margin: 15px
    }
</style>

