<template>
    <div>
        <span v-for="autor in autores">
            <cardAutor :autor="autor"></cardAutor>
        </span>
    </div>
</template>
<script>
import cardAutor from '@/components/AutorCard.vue'
import axios from 'axios'

export default {
    components:{
        cardAutor
    },
    data(){
        return{
            autores: []
        }
    },
    created() {
        axios.get('http://localhost:8000/api/Autores/')
        .then(response => {
            this.autores = response.data
        })
        .catch(response => {
            console.log(autores)
        })
    },
}
</script>
