<template>
    <div id="card">
        <b-container>
            <b-row>
                <b-col>
                    <b-jumbotron :header="autor.usuario" :lead="autor.nome">
                        {{autor.descricao}}
                    </b-jumbotron>
                </b-col>
                <b-col>
                    <h2>{{autor.idade}}</h2>
                    <h2>{{autor.data_inscricao}}</h2>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-button variant="Primary">Adicionar História</b-button>
                    <b-link>Teste de componente</b-link>
                </b-col>
                <b-col>
                    <b-button variant="Secondary">Ver Histórias</b-button>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>
<script>
export default {
    props:{
        autor:{
            type: Object,
            required: true
        }
    }
}
</script>
