<template>
    <div id="nav">
       <b-nav pills>
           <b-nav-item>
               <router-link to="/">Historias recentes</router-link>
           </b-nav-item>
           <b-nav-item>
               <router-link to="/autores">Lista de autores</router-link>
           </b-nav-item>
           <b-nav-item>
               <router-link to="/addAutor">Novo autor</router-link>
           </b-nav-item>
       </b-nav>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
#nav{
    background-color: aqua,
}
</style>

